.vs
/tools/static-content-generator/StoryBuilder/StoryBuilder/bin/Debug/StoryBuilder.pdb
/tools/static-content-generator/StoryBuilder/StoryBuilder/bin/Debug/StoryBuilder.exe.config
/tools/static-content-generator/StoryBuilder/StoryBuilder/bin/Debug/StoryBuilder.vshost.exe
/tools/static-content-generator/StoryBuilder/StoryBuilder/bin/Debug/StoryBuilder.vshost.exe.config
/tools/static-content-generator/StoryBuilder/StoryBuilder/bin/Debug/StoryBuilder.vshost.exe.manifest
obj
/tools/static-content-generator/StoryBuilder/StoryBuilder/StoryBuilder.csproj.user
.idea
